:root {
  --font-box-color: rgb(214, 28, 28);
  --font-color: rgb(255, 255, 255);
  --footer-font-color: rgb(219, 217, 217);
  --bc-color: rgb(0, 0, 0);
}

/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--bc-color);
  color: var(--font-color);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

/*HEADER-SECTION*/
.header-section {
  position: sticky;
  top: 0;
  background-color: var(--bc-color);
  z-index: 1000;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
}

.header-logo {
  width: 120px;
  height: 50px;
  margin-left: 10px;
}

.right-side {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid white;
}

.language-icon {
  width: 24px;
  height: auto;
  margin-left: 15px;
}

#language-choose {
  background-color: var(--bc-color);
  border: none;
  color: var(--font-color);
  padding: 8px;
  margin-right: 15px;
  font-size: 15px;
}

.registration-button {
  margin-right: 20px;
  background-color: var(--font-box-color);
  color: var(--font-color);
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

/*HERO-SECTION*/
.hero-section {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-box {
  text-align: center;
  width: 500px;
  height: 230px;
}

.hero-box h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.hero-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.hero-box p {
  font-size: 14px;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.search-form input {
  padding: 10px 100px 10px 0px;
  width: 430px;
  border-style: groove;
  background-color: black;
  color: white;
  font-size: 14px;
}

.search-form input::placeholder {
  text-indent: 10px;
}

.search-form button {
  padding: 0.8rem;
  background-color: #e50914;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/*FILMS-SECTION*/
.films {
  text-align: center;
}

.films-wrapper {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.films img {
  width: 300px;
  height: 380px;
  margin-top: 40px;
}

.films-wrapper img {
  transition: transform 0.3s ease;
}

.films-wrapper img:hover {
  transform: scale(1.05);
}

.searching-film-btn {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px 20px;
  background-color: var(--font-box-color);
  color: var(--font-color);
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*ARROW-SECTION*/
.arrow-section {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  display: none;
}

.arrow-btn i {
  font-size: 40px;
  margin-bottom: 50px;
  margin-right: 30px;
  color: var(--font-box-color);
  transition: transform 0.3s ease;
}

.arrow-btn:hover i {
  transform: scale(1.2);
}

.arrow-btn.show {
  display: block;
}

/*FOOTER*/
.footer-container {
  background-color: var(--bc-color);
  padding: 40px 100px;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 80px;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.footer-column a {
  color: var(--footer-font-color);
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: var(--font-box-color);
}

.footer-copy {
  text-align: center;
  font-size: 13px;
  color: var(--footer-font-color);
}
